@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-marine: 2 41 90;
    --primary-purplish: 71 61 255;
    --primary-pastel: 173 190 255;
    --primary-light: 191 226 253;
    --primary-strawberry: 237 53 72;

    --neutral-cool: 150 153 171;
    --neutral-light: 214 217 230;
    --neutral-magnolia: 240 246 255;
    --neutral-alabaster: 250 251 255;
    --white: 255 255 255;
  }
}

.min-mobile {
  min-height: calc(100svh - 106px);
}
.aside-bg {
  background-image: url('https://raw.githubusercontent.com/connectshark/multi-steps-form-solution/f922fa977de4f7fb8fafce7f11ea396085fbe15c/public/svg/bg-sidebar-mobile.svg');
}

@media screen and (min-width: 1280px) {
  .aside-bg {
    background-image: url('https://raw.githubusercontent.com/connectshark/multi-steps-form-solution/f922fa977de4f7fb8fafce7f11ea396085fbe15c/public/svg/bg-sidebar-desktop.svg');
  }
}