@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-purple: 122 106 225;
    --primary-marine: hsl(213, 96%, 18%);
    --primary-purplish: hsl(243, 100%, 62%);
    --primary-pastel: hsl(228, 100%, 84%);
    --primary-light: hsl(206, 94%, 87%);
    --primary-strawberry: hsl(354, 84%, 57%);

    --neutral-cool: hsl(231, 11%, 63%);
    --neutral-light: hsl(229, 24%, 87%);
    --neutral-magnolia: hsl(217, 100%, 97%);
    --neutral-alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);
  }
}